.search-icon {
  width: 60px;
  font-size: 10px;
  border-left: 1px solid #231f20;
  height: 30px;
  padding: 10px;
}
.light-mode {
  color: #231f20;
  background-color: transparent;
}
.dark-mode {
  background-color: #383838;
  color: #231f20;
}
